* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1.2 1 auto;
}

a {
    text-decoration: none !important;
}

a:visited {
    color: #FFFFFF;
}

section {
    flex: 1 1 auto;
}

footer {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex: .3 1 auto;
    align-items: center;
    justify-content: center;
}

#main {
    height: 120vh;
    flex-direction: column;
}

#header-bar {
    margin: auto 15%;
    margin-top: 2.5vh;
    justify-content: space-between;
}

#header-links {
    position: relative;
    left: 40vh;
}

#quote {
    background-color: #E5E7EB;
}

.container {
    display: flex;
}

.header-link {
    margin: 0 3vh
}