* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1.2 1 auto;
}

section {
    flex: 1 1 auto;
}

footer {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex: .3 1 auto;
    align-items: center;
    justify-content: center;
}

#main {
    height: 120vh;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    margin-top: 2.5vh;
    justify-content: space-around;
}

#header-bar {
    display: flex;
    justify-items: center;
}

#quote {
    background-color: #E5E7EB;
}

.container {
    display: flex;
    margin: 0 10%;
}